.HeaderLayoutsContainer {
    gap: 0;
    width: 100%;
    /* height: 300px; */
    display: flex;
    align-items: stretch;
    flex-direction: column;
    align-items: center;
}

.HeaderLayoutsImage {
    width: 100%;
    /* height: 300px; */
    object-fit: cover;
    background-color: brown;
}






/* Animation for scrolling left */
@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Animation for scrolling right */
@keyframes scrollRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

/* Images moving left */
.ScrollLeft {
    animation: scrollLeft 10s linear infinite;
}

/* Images moving right */
.ScrollRight {
    animation: scrollRight 10s linear infinite;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .HeaderTitle {
        font-size: 1.5rem;
    }

    .HeaderLayoutsImage {
        height: 80px;
    }
}