.NavbarLayoutsContainers {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    margin-top: 2rem;
    background-color: transparent;
}

.NavbarLayoutsContainerLists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 55px;
    justify-content: space-between;
}

.NavbarLayoutsImage {
    width: 100px;
    cursor: pointer;
}

.NavbarLayoutsItemsLists {
    display: flex;
    gap: 15px;
    list-style: none;
    align-items: center;
}

.NavbarLayoutsA {
    width: auto;
    padding: 10px 15px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    letter-spacing: 0.65px;
    font-family: "Hanken Grotesk", serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.NavbarLayoutsA:hover {
    color: #F5C350E5;
    background-color: #2E318D;
}

.NavbarLayoutsActiveLink {
    color: #F5C350E5;
    background-color: #2E318D;
}

.NavbarLayoutsHoveredLink {
    background-color: #2E318D;
    transition: background-color 0.3s ease;
}

.NavbarLayoutsItems {
    display: flex;
    align-items: center;
    gap: 20px;
}

.NavbarLayoutsIconMeun {
    height: 16px;
    cursor: pointer;
}

.NavbarLayoutsMeunH6 {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
    font-family: "Hanken Grotesk", serif;
}

.NavbarLayoutsSlish {
    color: #FFFFFF;
}

.MobileMenuToggle {
    display: none;
    cursor: pointer;
}

.HamburgerIcon,
.CloseIcon {
    font-size: 24px;
    color: #FFFFFF;
}

.MobileMenuOpen {
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 0;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: none;
    background-color: #1a1a1a;
}

.MobileMenuOpenItems {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}



@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .NavbarLayoutsImage {
        width: 80px;
        cursor: pointer;
    }

    .NavbarLayoutsA {
        width: auto;
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        font-family: "Hanken Grotesk", serif;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .HamburgerIcon,
    .CloseIcon {
        font-size: 24px;
        color: #FFFFFF;
    }

    .NavbarLayoutsIconMeun {
        height: 14px;
        cursor: pointer;
    }

    .NavbarLayoutsMeunH6 {
        font-size: 14px;
        color: #FFFFFF;
        font-weight: 400;
        cursor: pointer;
        font-family: "Hanken Grotesk", serif;
    }

    .NavbarLayoutsSlish {
        color: #FFFFFF;
    }

}



@media screen and (max-width: 1024px) {
    .NavbarLayoutsContainerLists {
        padding: 0px 20px;
    }

    .NavbarLayoutsItemsLists {
        display: none;
    }

    .MobileMenuToggle {
        display: block;
    }

    .MobileMenuOpen {
        display: flex !important;
    }

    .NavbarLayoutsImage {
        width: 80px;
    }
}

@media screen and (min-width: 1025px) {
    .MobileMenuToggle {
        display: none;
    }

    .MobileMenuOpen {
        display: none;
    }
}



@media screen and (max-width: 750px) {
    .NavbarLayoutsContainers {
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
        position: fixed;
    }

    .NavbarLayoutsContainerLists {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 18px;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }

    .NavbarLayoutsItemsLists {
        gap: 50px;
        display: none;
    }

    .MobileMenuToggle {
        display: block;
    }

    .HamburgerIcon,
    .CloseIcon {
        width: 36px;
        height: 36px;
        margin-top: 8px;
        font-size: 28px;
    }

    .NavbarLayoutsItems {
        display: none;
    }

    .NavbarLayoutsA {
        color: #F5C350E5;
        background-color: #2E318D;
    }

    .MobileMenuOpen {
        width: 100%;
        height: 100vh;
        z-index: 1000;
        background-color: #FFFFFF;
    }

}