.NavbarLayoutsContainers {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    position: fixed;
    margin-top: 20px;
}

.NavbarLayoutsContainerLists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 55px 0px 55px;
    justify-content: space-between;
}

.NavbarLayoutsImage {
    width: 120px;
    height: 50px;
    cursor: pointer;
}

.NavbarLayoutsItemsLists {
    gap: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.NavbarLayoutsA {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 8px;

    color: rgba(245, 245, 245, 0.956);
    transition: background-color 0.3s ease;
}

.NavbarLayoutsA:hover,
.NavbarLayoutsA.active {
    color: rgb(213, 132, 11);
    background-color: #2E318D;
}

.NavbarLayoutsItems {
    display: flex;
    align-items: center;
    gap: 10px;
}

.NavbarLayoutsIconMeun {
    height: 24px;
    cursor: pointer;
}

.NavbarLayoutsMeunH6 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.924);
    font-family: Helvetica, sans-serif;
}

.NavbarLayoutsSlish {
    color: rgba(255, 255, 255, 0.924);
}

.MobileMenuToggle {
    display: none;
    cursor: pointer;
}

.CloseIcon,
.HamburgerIcon {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.924);
}

.MobileMenuOpen {
    display: flex !important;
}

@media (max-width: 768px) {
    .NavbarLayoutsContainerLists {
        flex-direction: column;
        align-items: flex-start;
    }

    .NavbarLayoutsItemsLists {
        gap: 10px;
        top: 60px;
        left: 0;
        width: 100%;
        z-index: 1000;
        display: none;
        padding: 10px 0;
        position: absolute;
        flex-direction: column;
        background-color: black;
    }

    .MobileMenuToggle {
        display: block;
    }
}