.OpenNavbarsContainer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 248, 255);
}

.OpenNavbarsChildOne {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.CloseButton {
    top: 40px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    border-radius: 50%;
    color: #F5C350E5;
    position: absolute;
    align-items: center;
    justify-content: center;
    transition: color 0.3s ease;
    border: solid 5px #2E318D;
    background-color: #2E318D;
    transform: translate(-50%, -50%);
}

.CloseButton:hover {
    color: #F5C350E5;
    background-color: #2E318D;
}









.FootersItems {
    display: flex;
    /* Display the two lists in a row */
    gap: 50px;
    /* Space between the two lists */
    justify-content: center;
    /* Center the lists horizontally within the container */
    align-items: flex-start;
    /* Align the lists to the top */
    position: relative;
}

.FootersItemsUL {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    /* Display items inside the list vertically */
    flex-direction: column;
    /* Keep the list items in a column inside the first list */
    text-align: center;
    /* Center the text inside the list */
}

.FootersItemsUL2 {
    margin: 0;
    padding: 2rem;
    list-style: none;
    min-width: 550px;
    position: relative;
    border-radius: 5px;
    background-color: #2E318D;
    text-align: center;
    /* Center the sublist items */
    display: flex;
    flex-direction: column;
    /* Keep the list items in a column inside the second list */
    gap: 10px;
    /* Space between the items in the second list */
}





.FooterItemsLI a {
    font-size: 3rem;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    line-height: 76.667px;
    letter-spacing: 0.64px;
    color: rgba(0, 0, 0, 0.958);
    font-family: "Inter", sans-serif;
}

.FooterItemsLIs a {
    font-size: 3rem;
    cursor: pointer;
    font-weight: 600;
    text-decoration: none;
    line-height: 45.667px;
    letter-spacing: 0.64px;
    font-family: "Inter", sans-serif;
    color: rgba(255, 255, 255, 0.941);
}

.FooterItemsLI a:hover {
    color: rgba(255, 255, 255, 0.941);
}