.ContentDevelopemtsContainer {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    background-size: cover;
    align-items: flex-start;
    justify-content: flex-start;
    background-image: url(../../../../assets/ImageSlider2.svg);
}

.ContentDevelopemtsChildListOne {
    gap: 20px;
    padding: 55px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 28%;
    flex-direction: column;
}

.ContentDevelopemtsH1 {
    width: 700px;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    font-style: normal;
    color: #FFFFFF;
    font-family: Inter;
    letter-spacing: -5px;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
}

.ContentDevelopemtsButtonPara {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.ContentDevelopemtsBTC {
    width: 100px;
    height: 30px;
    outline: none;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: solid 2px #FFFFFF;
    color: rgba(0, 0, 0, 0.852);
    font-family: "Inter", sans-serif;
}

.ContentDevelopemtsParas {
    width: 720px;
    font-size: 15px;
    font-weight: 500;
    line-height: 130%;
    font-family: Inter;
    font-style: normal;
    letter-spacing: 0.64px;
    color: rgba(255, 255, 255, 0.566);
    font-family: "Inter", sans-serif;
}

.ContentDevelopemtsItems {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.ContentDevelopemtsItemsH4 {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-style: normal;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.693);
    font-family: "Inter", sans-serif;
}

.ContentDevelopemtsItemsLists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.ContentDevelopemtsItemsLists1 {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.svgIcons {
    width: 40px;
}

.ContentDevelopemtsItemsListsH4 {
    width: 130px;
    font-size: 15px;
    font-weight: 500;
    line-height: 130%;
    font-family: Inter;
    font-style: normal;
    letter-spacing: 0.64px;
    color: rgba(255, 255, 255, 0.35);
    font-family: "Inter", sans-serif;
}


@media all and (max-width: 750px) {
    .ContentDevelopemtsContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .ContentDevelopemtsChildListOne {
        gap: 20px;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        flex-direction: row;
        justify-content: center;
    }

    .ContentDevelopemtsButtonPara {
        gap: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .ContentDevelopemtsParas {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        max-width: 85%;
        text-align: center;
        color: #FFFFFF;
    }

    .ContentDevelopemtsH1 {
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
        line-height: 30px;
        text-align: center;
        font-family: "Inter", sans-serif;
    }

    .ContentDevelopemtsItems {
        gap: 20px;
        padding-left: 0px;
        margin-top: 40px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .ContentDevelopemtsItemsH4 {
        font-size: 25px;
        margin-left: 30px;
        font-family: "Inter", sans-serif;
    }

    .ContentDevelopemtsItemsLists {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-self: center;
        flex-direction: row;
    }

    .ContentDevelopemtsItemsLists1 {
        display: flex;
        flex-wrap: wrap;
    }

    .ContentDevelopemtsItemsListsH4 {
        width: 80px;
        font-size: 10px;
    }

    .svgIcons {
        width: 30px;
    }
}