.SectionLayoutsContainer {
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
    padding-top: 5rem;
    padding-bottom: 5rem;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #F6FFFA;
}

.SectionLayoutsMain1 {
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 100;
    color: #21312A;
    text-align: center;
    font-weight: lighter;
    line-height: 80px;
    align-items: center;
    justify-content: center;
    font-family: "Lato", sans-serif;
}

.SectionLayoutsParagraph {
    width: 73%;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 100;
    color: #21312A;
    padding-top: 30px;
    text-align: center;
    line-height: 1.8rem;
    flex-direction: column;
    justify-content: center;
    font-family: LotaGrotesque-Light;
}

.SectionLayoutsMain2 {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    padding-top: 2rem;
    align-content: center;
    justify-content: center;
}

.SectionLayoutsCards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    text-align: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.CardsImages {
    width: 20rem;
    height: auto;
    cursor: pointer;
    object-fit: cover;
}

.CardsParagrah {
    cursor: pointer;
    color: #6B514B;
    font-size: 1.1rem;
    margin-top: 3rem;
    font-weight: 400;
    text-align: center;
    font-family: Inter;
    line-height: 2rem;
}

.CardsTexts {
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 400;
    cursor: pointer;
    color: #6B514B;
    text-align: center;
    font-family: Inter;
    line-height: 2rem;
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .SectionLayoutsContainer {
        padding: 1rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .SectionLayoutsMain1 {
        font-size: 1.8rem;
        line-height: 70px;
    }

    .SectionLayoutsParagraph {
        width: 68%;
        font-weight: 100;
        color: #21312A;
        font-size: 1.2rem;
        line-height: 1.27rem;
    }

    .CardsImages {
        width: 14rem;
    }

    .CardsParagrah {
        cursor: pointer;
        color: #6B514B;
        font-size: 1.1rem;
        margin-top: 1rem;
        font-weight: 400;
        text-align: center;
        font-family: Inter;
        line-height: 2rem;
    }

    .CardsTexts {
        font-size: 1rem;
        margin-top: 1rem;
        font-weight: 400;
        cursor: pointer;
        color: #6B514B;
        text-align: center;
        font-family: Inter;
        line-height: 2rem;
    }
}


@media screen and (min-width: 1440px) {
    .SectionLayoutsContainer {
        padding: 2.5rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .SectionLayoutsMain1 {
        font-size: 2.2rem;
        line-height: 85px;
    }

    .SectionLayoutsParagraph {
        width: 73%;
        margin-top: 2rem;
        font-weight: 100;
        color: #21312A;
        font-size: 1.1rem;
        line-height: 1.27rem;
    }

    .CardsImages {
        width: 20rem;
    }

    .CardsParagrah {
        cursor: pointer;
        color: #6B514B;
        font-size: 1.1rem;
        margin-top: 1rem;
        font-weight: 400;
        text-align: center;
        font-family: Inter;
        line-height: 2rem;
    }

    .CardsTexts {
        font-size: 1rem;
        margin-top: 1rem;
        font-weight: 400;
        cursor: pointer;
        color: #6B514B;
        text-align: center;
        font-family: Inter;
        line-height: 2rem;
    }
}


@media screen and (max-width: 768px) {
    .SectionLayoutsContainer {
        display: flex;
        padding: 0px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .SectionLayoutsMain1 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .SectionLayoutsMain1 {
        cursor: pointer;
        font-size: 1rem;
        margin-top: 2rem;
        text-align: center;
        line-height: 30.137px;
    }

    .SectionLayoutsParagraph {
        width: 85%;
        font-size: 0.9rem;
    }

    .SectionLayoutsMain2 {
        gap: 20px;
        padding: 0rem;
        cursor: pointer;
        margin-top: 40px;
    }

    .CardsImages {
        cursor: pointer;
    }
}