.HeroLayoutsContainer {
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    align-items: center;
    align-content: center;
    justify-content: center;
    scroll-behavior: smooth;
    background-color: #2E318D;
}

.HeroLayoutsListmain {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10rem;
    flex-direction: row;
    align-content: center;
    padding-bottom: 10rem;
    justify-content: center;
    background-color: #2E318D;
    justify-content: space-around;
}

.HeroLayoutsLists1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.HeroLayoutH1 {
    font-size: 7.45rem;
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    color: #F5C350E5;
    line-height: 10.2px;
    letter-spacing: -8.693px;
    text-transform: uppercase;
    font-family: "Hanken Grotesk";
}

.HeroLayoutsListItems1 {
    width: 100%;
    height: auto;
    position: relative;
}

.HeroLayoutsListItems {
    width: 35rem;
    height: 29rem;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    position: relative;
    overflow-y: scroll;
    flex-direction: column;
    scrollbar-width: thin;
    border: 5px solid #ffffff;
    background-color: #2E318D;
    scrollbar-color: #ffffff #2E318D;
}

.HeroLayoutImage {
    padding: 1rem;
    height: auto;
    object-fit: cover;
    object-fit: contain;
    background-size: contain;
}

.HeroLayoutsImageDiv {
    width: 100%;
    height: 47rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    object-fit: cover;
    object-fit: contain;
    background-size: contain;
    background-image: url(../../../assets/FaceImages.svg);
}



@media screen and (max-width: 768px) {
    .HeroLayoutsContainer {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: row;
    }

    .HeroLayoutsListmain {
        gap: 10px;
        padding: 20px;
        flex-direction: column;
    }

    .HeroLayoutH1 {
        /* width: 100%; */
        font-size: 3rem;
        line-height: 50.2px;
        letter-spacing: -8.693px;
    }

    .HeroLayoutsListItems {
        height: auto;
        border: none;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
    }

    .HeroLayoutImage {
        height: auto;
        max-width: 320px;
        margin-bottom: 10px;
    }

    .HeroLayoutsListmain {
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding: 100px 68px 100px 68px;
        background-color: #2E318D;
    }

    .HeroLayoutsImageDiv {
        height: 10rem;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        background-size: contain;
        background-image: url(../../../assets/FaceImages.svg);
    }

}