.HeroLayoutsContainer {
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    scroll-behavior: smooth;
    background-color: #2E318D;
}

.HeroLayoutsListmain {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    padding-top: 10rem;
    flex-direction: row;
    padding-bottom: 10rem;
    align-content: center;
    /* justify-content: space-around; */
    justify-content: space-evenly;
    background-color: #2E318D;
}

.HeroLayoutsLists1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.HeroLayoutH1 {
    font-weight: 900;
    cursor: pointer;
    text-align: center;
    color: #F5C350E5;
    line-height: 8rem;
    font-size: 7.68rem;
    letter-spacing: -8.693px;
    text-transform: uppercase;
    font-family: "Hanken Grotesk";
}

.HeroLayoutsListItems1 {
    width: 100%;
    height: auto;
    position: relative;
}

.HeaderLayoutsImageConatiner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.HeroLayoutSharpImage {
    z-index: 3;
    height: 43rem;
    position: relative;
}

.HeroLayoutsListItems {
    gap: 15px;
    z-index: 4;
    height: 47rem;
    padding: 0.42rem;
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    overflow-y: auto;
    position: absolute;
    flex-direction: column;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    background-color: #2E318D;
    scrollbar-color: #ffffff #2E318D;
}

.HeroLayoutImage {
    height: 20rem;
    height: auto;
    object-fit: contain;
    background-size: contain;
}

.HeroLayoutsImageDiv {
    width: 100%;
    height: 47rem;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    object-fit: contain;
    background-size: contain;
    background-image: url(../../../assets/FaceImages.svg);
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .HeroLayoutsListmain {
        padding-top: 6rem;
        padding-bottom: 6rem;
        justify-content: center;
        justify-content: space-evenly;
    }

    .HeroLayoutH1 {
        font-size: 6.24rem;
        line-height: 6rem;
        letter-spacing: -6px;
    }

    .HeroLayoutsListItems {
        width: 34rem;
        height: 30rem;
    }

    .HeroLayoutsImageDiv {
        height: 42.54rem;
    }
}

@media screen and (min-width: 1440px) {
    .HeroLayoutsListmain {
        padding-top: 12rem;
        padding-bottom: 12rem;
        justify-content: space-evenly;
    }

    .HeroLayoutH1 {
        font-size: 8rem;
        line-height: 9rem;
        letter-spacing: -10px;
    }

    .HeroLayoutsListItems {
        width: 34rem;
        height: 30rem;
    }

    .HeroLayoutsImageDiv {
        height: 47rem;
    }
}


@media screen and (max-width: 768px) {
    .HeroLayoutsContainer {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        flex-direction: row;
    }

    .HeroLayoutsListmain {
        gap: 10px;
        padding: 20px;
        flex-direction: column;
    }

    .HeroLayoutH1 {
        font-size: 3rem;
        line-height: 50.2px;
        letter-spacing: -8.693px;
    }

    .HeroLayoutsListItems {
        height: auto;
        border: none;
        overflow: hidden;
        margin-top: 50rem;
        align-items: center;
        flex-direction: column;
    }

    .HeroLayoutSharpImage {
        display: none;
    }

    .HeroLayoutImage {
        height: auto;
        max-width: 320px;
        margin-bottom: 10px;
    }

    .HeroLayoutsListmain {
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        padding: 100px 68px 100px 68px;
        background-color: #2E318D;
    }

    .HeroLayoutsImageDiv {
        height: 10.42rem;
        display: flex;
        flex-wrap: wrap;
        flex-shrink: 0;
        background-size: contain;
        background-image: url(../../../assets/FaceImages.svg);
    }

}