.FootersContainer {
    display: flex;
    padding: 0.20rem;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
}

.FootersContainers {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
}

.FootersList {
    gap: 150px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.FootersCompanyImg {
    width: 8rem;
    cursor: pointer;
    align-self: flex-start;
    justify-self: flex-start;
}

.FootersItemsH4 {
    color: #F5C350;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    line-height: 26.667px;
    letter-spacing: 0.64px;
    font-family: "Inter", sans-serif;
}

.FooterDivs {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.FooterDivsImgs {
    cursor: pointer;
}

.FootersItems {
    gap: 120px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0rem;
    margin-right: 3rem;
    align-items: center;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.FootersItemsUL {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.FooterItemsLI a {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    line-height: 26.667px;
    letter-spacing: 0.64px;
    color: rgba(245, 195, 80, 0.90);
    font-family: "Inter", sans-serif;
}

.FooterLasts {
    gap: 120px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    align-self: flex-end;
    justify-self: flex-end;
    border-top: 1px solid rgba(245, 195, 80, 0.15);
}


@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .FootersContainers {
        flex-direction: column;
        align-items: center;
    }

    .FootersList {
        gap: 100px;
    }

    .FootersItems {
        gap: 100px;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }

    .FooterItemsLI a {
        font-size: 0.70rem;
    }

    .FooterLasts {
        gap: 120px;
        padding: 1.5rem;
    }
}


@media screen and (min-width: 1440px) {
    .FootersContainers {
        padding: 1rem 1.67rem;
    }

    .FootersList {
        gap: 100px;
    }

    .FootersCompanyImg {
        width: 7rem;
    }

    .FootersItems {
        gap: 160px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .FooterItemsLI a {
        font-size: 0.80rem;
    }

    .FooterLasts {
        gap: 170px;
        padding: 1.69rem;
    }
}


@media all and (max-width: 750px) {
    .FootersContainer {
        gap: 0px;
        padding: 1rem;
    }

    .FootersContainers {
        gap: 0px;
    }

    .FootersList {
        gap: 30px;
    }

    .FootersItems {
        gap: 60px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: -60px;
        justify-content: center;
        align-items: flex-start;
    }

    .FootersContainers {
        gap: 100px;
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        background-color: #000;
        justify-content: space-between;
    }

    .FooterLasts {
        gap: 10px;
        margin-top: 20px;
        align-self: flex-start;
    }

    .FootersItemsH4 {
        font-size: 12px;
    }

    .FooterDivs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .FooterDivsImgs {
        width: 100px;
    }

    .FootersItems {
        gap: 0px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0px;
        margin-right: 0px;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        justify-content: space-between;
    }

    .FootersItemsUL {
        gap: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .FooterItemsLI a {
        font-size: 10px;
    }
}