.IndetifyDesignContainer {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    background-size: cover;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: black;
    background-image: url(../../../../assets/ImageSlider1.svg);
}

.IndetifyDesignContainerOne {
    gap: 20px;
    padding: 55px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 35%;
    flex-direction: column;
}

.IndetifyDesignH1 {
    width: 700px;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    font-style: normal;
    color: #FFFFFF;
    font-family: Inter;
    letter-spacing: -5px;
    text-transform: uppercase;
}

.IndetifyDesignButtonPara {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}

.IndetifyDesignBTC {
    width: 100px;
    height: 30px;
    outline: none;
    font-weight: 500;
    line-height: 130%;
    text-align: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: solid 2px #FFFFFF;
    color: rgba(0, 0, 0, 0.852);
}

.IndetifyDesignParas {
    width: 720px;
    font-size: 15px;
    font-weight: 500;
    line-height: 130%;
    font-family: Inter;
    font-style: normal;
    letter-spacing: 0.64px;
    color: rgba(255, 255, 255, 0.566);
}

.IndetifyDesignItems {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 150px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.IndetifyDesignItemsH4 {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    font-style: normal;
    font-family: Inter;
    color: rgba(255, 255, 255, 0.693);
}

.IndetifyDesignItemsLists {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.IndetifyDesignItemsLists1 {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.svgIcons {
    width: 40px;
}

.IndetifyDesignItemsListsH4 {
    width: 130px;
    font-size: 15px;
    font-weight: 500;
    line-height: 130%;
    font-family: Inter;
    font-style: normal;
    letter-spacing: 0.64px;
    color: rgba(255, 255, 255, 0.35);
}


@media all and (max-width: 750px) {
    .IndetifyDesignContainer {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .IndetifyDesignContainerOne {
        gap: 20px;
        width: 100%;
        padding: 0px;
        display: flex;
        margin-top: 25%;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        flex-direction: row;
        justify-content: center;
    }

    .IndetifyDesignButtonPara {
        gap: 20px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .IndetifyDesignParas {
        display: flex;
        flex-wrap: wrap;
        max-width: 85%;
        text-align: center;
        color: #FFFFFF;
    }

    .IndetifyDesignH1 {
        font-size: 30px;
        display: flex;
        flex-wrap: wrap;
        line-height: 40px;
        text-align: center;
        letter-spacing: 4px;
    }

    .IndetifyDesignItems {
        gap: 20px;
        padding-left: 0px;
        margin-top: 40px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .IndetifyDesignItemsH4 {
        font-size: 30px;
        margin-left: 30px;
    }

    .IndetifyDesignItemsLists {
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-self: center;
        flex-direction: row;
    }

    .IndetifyDesignItemsLists1 {
        display: flex;
        flex-wrap: wrap;
    }

    .IndetifyDesignItemsListsH4 {
        width: 80px;
        font-size: 10px;
    }

    .svgIcons {
        width: 30px;
    }
}